.Header {
  grid-area: header;
  background-color: green;
  display: grid;
  grid-template-columns: 15em 1fr 22em 2em;
}

.HeaderTitle {
  grid-column: 1;
  margin-left: 2em;
  font-size: 0.7em;
}

.HeaderNav {
  width: 22em;
  grid-column: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



@media (max-width: 767px) {
  .Header {
    grid-template-columns: 5em 15em;
  }
  .Burger {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .HeaderTitle {
    grid-column: 2;
  }

  .HeaderNav {
    display: none;
  }

}

