.Header {
  grid-area: header;
  background-color: green;
  display: flex;
  justify-content: space-between;
}

.Button {
  display:none;
}

@media (max-width: 767px) {
  .Button {
    display: initial;
  }
}