.ToggleButton {
  display: none;
}

.ToggleButtonLine {
  width: 2.5em;
  height: 0.25em;
  background: #fad390;
}

@media (max-width: 900px) {
  .ToggleButton {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 2em;
    width: 2.5em;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    grid-column: 12;
  }
}