.AppWrapper{
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: 3.75em auto 2.5em;
}