.AppWrapper{
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 0;
  background: transparent;
}

.AppBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background:  url("../images/DSC_0032-2.jpg") no-repeat center;
  background-size: cover;
  z-index: -2;
}

.AppBlur {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background:  #000000;
  opacity: 0.5;
  color: grey;
  filter: blur(5px);
  z-index: -1;
}